:root {
    --white: #fff;
    --pri-color: #31313c;
    --sc-color: hsl(0, 0%, 90%);
    --font-color: #fff;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: var(--pri-color);
    padding: 0;
    margin: 0;
}

#navbar {
    width: 230px;
    height: 100vh;
    background-color: var(--sc-color);
    border-right: 1px outset #DCDCDC;
    position: fixed;
}

@media all and (min-width: 500px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #main-doc {
        padding: 10px 10px 10px 230px;
    }

}

@media all and (max-width: 500px) {

    #navbar {
        display: none;
    }
}

#header {
    font-size: 25px;
    text-align: center;
    background-color: var(--sc-color);
    padding: 40px 10px 50px 10px;
}

#header h6 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.nav-link {
    font-size: 20px;
    padding: 10px 0px 10px 30px;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    display: list-item;
    list-style: none;
}

.nav-link:nth-of-type(odd) {
    background-color: hsl(0, 0%, 85%);
}

.nav-link:hover {
    color: hsl(0, 0%, 100%);
    background-color: var(--pri-color);
    cursor: pointer;
}

#main-doc {
    width: 100%;
    color: var(--font-color);
}

#main-doc header {
    font-size: 30px;
    text-shadow: 0px 1px 0px black;
    border-bottom: 1px solid white;
}

.main-section {
    padding: 20px;
}

.main-section header {
    text-align: center;
    padding-bottom: 20px;
}

/* HTML_Documents */

.code {
    padding: 20px;
    max-width: 400px;
    background-color: gainsboro;
    border-radius: 10px;
    color: #000000;
    margin: 0 auto;
}

blockquote{
    text-align: center;
}
