:root {
    --white: #fff;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #5E5EA3;
    padding: 0;
    margin: 0;
}

#navbar {
    width: 300px;
    height: 100vh;
    background-color: #47478D;
    border-right: 1px outset #DCDCDC;
    position: fixed;
}

@media all and (min-width: 500px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    #main-doc {
    padding: 10px 10px 10px 300px;
    height: 100vh;
}

}

@media all and (max-width: 500px) {

    #navbar {
        display: none;
    }
}

#header {
    font-size: 25px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
}

#header h6 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.nav-link {
    font-size: 20px;
    padding: 10px 0;
    color: var(--white);
    text-decoration: none;
    display: list-item;
    text-align: center;
    list-style: none;
}

.nav-link:nth-of-type(odd) {
    background-color: #5E5EA3;
}

.nav-link:hover {
    color: black;
}

#main-doc {
    width: 100%;
    background-color: #5E5EA3;
    color: var(--white);
}

#main-doc header {
    font-size: 30px;
    text-shadow: 0px 1px 0px black;
}

.main-section {
    padding: 20px;
}

.main-section header {
    text-align: center;
    padding-bottom: 20px;
}

/* HTML_Documents */

.code {
    padding: 10px;
    max-width: 400px;
    background-color: gainsboro;
    border-radius: 10px;
    color: #000000;
    margin: 0 auto;
}
